{% extends 'base.html' %}

{% block title %}Change Password!{% endblock %}

{% block content %}

{% if validlink %}
<section>
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                <div class="card" style="border-radius: 15px;">
                    <div class="card-body p-5">
                        <h2 class="text-uppercase text-center mb-5">Set a new password</h2>
                        <form method="post">
                            {% csrf_token %}
                            <div class="form-outline mb-4">
                                {{ form.old_password }}
                                <label class="form-label" for="old_password">Old Password</label>
                            </div>
                            <div class="form-outline mb-4">
                                {{ form.new_password1 }}
                                <label class="form-label" for="new_password1">New Password</label>
                            </div>
                            <div class="form-outline mb-4">
                                {{ form.new_password2 }}
                                <label class="form-label" for="new_password2">Confirm Password</label>
                            </div>
                            <div class="d-flex justify-content-center">
                                <button type="submit" class="btn btn-dark btn-lg btn-block">Change</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
{% else %}
<div class="text-center d-flex justify-content-center">
    <div class="col-xl-4">
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
                <h4 class="my-0 fw-normal">Invalid Link!</h4>
            </div>
        <div class="card-body">
            <h4>This link is invalid check your link!</h4>
            <br>
            <p>Try Again Later!</p>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}