{% extends 'base.html' %}

{% block  title %}Email Sent!{% endblock %}

{% block content %}
<div class="text-center d-flex justify-content-center">
    <div class="col-xl-4">
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
                <h4 class="my-0 fw-normal">Success!</h4>
            </div>
        <div class="card-body">
            <h4>An email has been sent to your email</h4>
            <br>
            <p>You can close this page!</p>
        </div>
    </div>
</div>
{% endblock %}