{% extends 'base.html' %}
{% load static %}
{% block title %}All Posts{% endblock %}

{% block content %}
    <main class="container">
        <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark"
             style='background-image: url("{% static 'img/blog.jpg' %}"); background-size: cover;'>
            <div class="col-md-6 px-0">
                <h1 class="display-4 fst-italic">{{ object_list.1.title }}</h1>
                <p class="lead my-3">{{ object_list.1.description }}</p>
                <p class="lead mb-0"><a href="{% url 'blog:post_detail' object_list.1.id %}" class="text-white fw-bold">Continue
                    reading...</a></p>
            </div>
        </div>
        <div class="row g-5">
            <div class="col-md-8">
                <article class="blog-post">
                    {% for post in object_list %}
                        <div>
                            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                                <div class="col p-4 d-flex flex-column position-static">
                                    <strong class="d-inline-block mb-2 text-success">{{ post.tag }}</strong>
                                    <h3 class="mb-0">{{ post.title }}</h3>
                                    <div class="mb-1 text-muted">{{ post.created|date }}</div>
                                    <p class="mb-auto">{{ post.description }}</p>
                                    <a href="{% url 'blog:post_detail' post.id %}" class="stretched-link">
                                        Continue reading</a>
                                </div>
                                <div class="col-auto d-none d-lg-block">
                                    {% if post.img %}
                                        <img src="{{ post.img.url }}" alt="{{ post.title }}"
                                             style="width: 200px; height: 200px">
                                    {% else %}
                                        <img src="https://dummyimage.com/200x200/cfd3dc/6e727d.png" alt="{{ post.title }}">
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% empty %}
                        <p>No Post yet:(</p>
                    {% endfor %}
                </article>
            </div>

            <div class="col-md-4">
                <div class="position-sticky" style="top: 2rem;">
                    <div class="p-4">
                        <h4>Tags</h4>
                        <ol class="list-unstyled mb-0">
                            {% for tag in tags %}
                                <li><a href="{% url 'blog:tag_detail' tag.id %}">{{ tag }}</a></li>
                            {% endfor %}
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </main>
        <nav class="nav justify-content-center">
            <ul class="pagination">
            {% if page_obj.has_previous %}
              <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% endif %}

            {% for i in page_obj.paginator.page_range %}
            {% if page_obj.number == i %}
                <li class="page-item disabled"><a class="page-link" href="#">{{ i }}</a></li>
            {% elif i > page_obj.number|add:'-5' and i < page_obj.number|add:'5' %}
                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
              <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {% endif %}
            </ul>
          </nav>



{% endblock %}