{% extends 'base.html' %}
{% load static %}
{% block title %}All Posts{% endblock %}

{% block content %}
    <main class="container">
        <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark"
             style='background-image: url("{% static 'img/blog.jpg' %}"); background-size: cover;'>
            <div class="col-md-6 px-0">
                <h1 class="display-4 fst-italic">{{ object_list.1.title }}</h1>
                <p class="lead my-3">{{ object_list.1.description }}</p>
                <p class="lead mb-0"><a href="{% url 'blog:post_detail' object_list.1.id %}" class="text-white fw-bold">Continue
                    reading...</a></p>
            </div>
        </div>
        <div class="row g-5">
            <div class="col-md-8">
                <article class="blog-post">
                    {% for post in object_list %}
                        <div>
                            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                                <div class="col p-4 d-flex flex-column position-static">
                                    <strong class="d-inline-block mb-2 text-success">{{ post.tag }}</strong>
                                    <h3 class="mb-0">{{ post.title }}</h3>
                                    <div class="mb-1 text-muted">{{ post.created|date }}</div>
                                    <p class="mb-auto">{{ post.description }}</p>
                                    <a href="{% url 'blog:post_detail' post.id %}" class="stretched-link">
                                        Continue reading</a>
                                </div>
                                <div class="col-auto d-none d-lg-block">
                                    {% if post.img %}
                                        <img src="{{ post.img.url }}" alt="{{ post.title }}"
                                             style="width: 200px; height: 200px">
                                    {% else %}
                                        <img src="https://dummyimage.com/200x200/cfd3dc/6e727d.png" alt="{{ post.title }}">
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% empty %}
                        <p>No Post yet:(</p>
                    {% endfor %}
                </article>
            </div>

            <div class="col-md-4">
                <div class="position-sticky" style="top: 2rem;">
                    <div class="p-4 mb-3 bg-light rounded">
                        <h4 class="fst-italic">About</h4>
                        <p class="mb-0">Customize this section to tell your visitors a little bit about your
                            publication, writers, content, or something else entirely. Totally up to you.</p>
                    </div>

                    <div class="p-4">
                        <h4 class="fst-italic">Archives</h4>
                        <ol class="list-unstyled mb-0">
                            <li><a href="#">March 2021</a></li>
                            <li><a href="#">February 2021</a></li>
                            <li><a href="#">January 2021</a></li>
                            <li><a href="#">December 2020</a></li>
                            <li><a href="#">November 2020</a></li>
                            <li><a href="#">October 2020</a></li>
                            <li><a href="#">September 2020</a></li>
                            <li><a href="#">August 2020</a></li>
                            <li><a href="#">July 2020</a></li>
                            <li><a href="#">June 2020</a></li>
                            <li><a href="#">May 2020</a></li>
                            <li><a href="#">April 2020</a></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}