{% extends 'base.html' %}

{% block title %}Delete post{% endblock %}

{% block content %}
    <div class="d-flex flex-column justify-content-center align-items-center text-center">
        <form action="" method="post">
        {% csrf_token %}
        <h4>Are you sure to delete "{{ object.title }}"</h4>
        <input type="submit" value="Delete!" class="btn btn-danger">
        <button class="btn btn-outline-primary"><a href="{% url 'blog:post_detail' object.id %}" style="text-decoration: none;">Cancel</a></button>
    </form>
    </div>
{% endblock %}